
<header class=" container-fluid mb-3 ">
  <div class="container d-flex flex-wrap justify-content-between py-3">
    <a href="/" class="d-flex align-items-center  me-md-auto text-dark text-decoration-none">
      
      <span class="fs-4">Zied AOUIDENE</span>
    </a>
  
    <button class=" btn-close d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasExample">
    </button>
  
    <ul class="nav nav-pills offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasExampleLabel">
  
  
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Responsive offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
      </div>
  
  
      <li class="nav-item"><a routerLink="/"  class="nav-link " aria-current="page">
          <i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a></li>
              <li class="nav-item"><a routerLink="/list-produit" class="nav-link">
          <i class="fa fa-book" aria-hidden="true"></i>List produit</a></li>
      
      
          <li class="nav-item"><a routerLink="/produit"  class="nav-link">
          <i class="fa fa-product-hunt" aria-hidden="true"></i>Produit</a></li>
      <li class="nav-item"><a routerLink="/livre" class="nav-link">
          <i class="fa fa-book" aria-hidden="true"></i>Livre</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link">
          <i class="fa fa-address-book" aria-hidden="true"></i>contact</a></li>
      <li class="nav-item"><a routerLink="/about"  class="nav-link">
          <i class="fa fa-question-circle" aria-hidden="true"></i>About</a></li>
      <li class="nav-item"><a routerLink="/about"  class="nav-link">
          <i class="fa fa-globe" aria-hidden="true"></i>Google Map</a></li>
      <li class="nav-item"><a routerLink="/meteo"  class="nav-link">
          <i class="fa fa-globe" aria-hidden="true"></i>meteo</a></li>
    </ul>
  </div>
</header>